.dashboard {
    position: relative;
    top: 38rem;
    padding: 0 0 0 275px;
    height: 100vh;



    #sidebar {
        position: fixed;
        z-index: 55;
        overflow: hidden;
        overflow-y: hidden;
        -webkit-transition: left .3s ease,width .3s ease;
        transition: left .3s ease,width .3s ease;
        top: 4.5rem;
        left: 0;
        width: 276.5px;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        border-top-right-radius: 32px;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0.2px;
            scrollbar-width: thin;
          }
          
          ::-webkit-scrollbar-thumb {
            scrollbar-color: rgba(53, 44, 44, 0.555);
            width: 7px;
            border-radius: 10px;
          }

       

        .profil {
            width: 100%;
            height: 16.5rem;
            box-shadow: 0 4px 15px rgba(43, 42, 42, 0.158);
            padding-top: 1rem;

            &_image {

                border-radius: 100%;
                width: 40%;
                padding: 5px 0;
                transform: rotate(-45deg);
                height: 106px;
                margin: auto;
                border: 4px solid $primary;
                border-top-color: transparent;

                img {
                    transform: rotate(45deg);
                    width: 88.8px;
                    height: 88.8px;
                    border-radius: 50%;

                }
            }

            &_contents {
                position: relative;
                top: 1rem;

                h1 {
                    color: $primary;
                    margin-right: 3%;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: 'Coneria Script Demo', sans-serif;


                    &::after {
                        position: absolute;
                        content: "";
                        height: 3px;
                        width: 20px;
                        background: $primary;
                        top: 7px;
                        left: 69%;
                        border-radius: 30px;
                        z-index: 2;


                    }

                    &::before {
                        position: absolute;
                        content: "";
                        height: 3px;
                        width: 20px;
                        background: $primary;
                        top: 7px;
                        left: 20%;
                        border-radius: 30px;
                        z-index: 2;

                    }




                }

                h2{
                    font-size: 18.5px;
                    margin-left: -0.5rem;
                    font-weight: bold;
                    color: #272626;
                }
            }

            &_icons{
                position: relative;
                top: 1.5rem;
                left: -0.3rem;

                .icone{
                    font-size: 18.5px;
                    margin-left: 0.6rem;
                    color: #fff;
                    padding: 11.5px;
                    padding-left: 1.3rem;
                    padding-right: 1.3rem;
                    border-radius: 4px;

                      &:nth-child(1){
                        background-color: rgba(247, 202, 0, 0.747);
                      }

                      &:nth-child(2){
                        background-color: rgba(58, 247, 0, 0.747);
                      }
                      &:nth-child(3){
                        background-color: rgb(0, 140, 255);
                      }
                }

            }

            .border1 {
                width: 100%;
                height: 1px;
                position: relative;
                top: 13.7rem;
                background-color: rgba(0, 0, 0, 0.151);
            }
        }

        .sidebar_content{
            width: 100%;
            position: relative;
            top: 0rem;
            overflow: auto;
            height: 52vh;

          
            &::-webkit-scrollbar {
                background-color: transparent;
                width: 2px;
                scrollbar-width: thin;
              }
              
              ::-webkit-scrollbar-thumb {
                scrollbar-color: rgba(53, 44, 44, 0.555);
                width: 7px;
                border-radius: 10px;
              }

           
                ul{
                    margin-top: 1rem;
                    margin-left: -2rem;
                    position: relative;

                      li{
                        margin-top: 0.6rem;
                        cursor: pointer;
                        display: flex;
                        padding-top: 1rem;
                        padding-bottom: 0.5rem;
                        padding-left: 1.65rem;

                           &:hover{
                            background-color: $primary;
                            border-left: 6px $primary;
                            color: #fff;
                            border-right: 0;
                            border-top: 0;
                            border-bottom: 0;
                            border-top-left-radius: 24px;
                            border-bottom-left-radius: 24px;
                           }

                         .icon{
                            font-size: 24px;
                        }

                          h1{
                            font-size: 17.5px;
                            margin-left: 1.6rem;
                            margin-top: 0.1rem;
                          }
                      }

                      .active{
                        background-color: $primary;
                        color: $color1;
                        border-top-left-radius: 24px;
                        border-bottom-left-radius: 24px;
                      }
                }
        }
    }


    .app-container {
        background-color: #e4e9f0;
        height: 196vh;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 5;
        position: relative;
        top: -32.4rem;
        padding: 0;

        .navigation_1{
             position: fixed;
             top: 5.9rem;
             left: 18.2rem;
             z-index: 55;

              .icon{
                color: $color1;
                font-size: 19px;
                font-weight: bold;
              }

               h1{
                font-size: 17px;
                margin-left: .6rem;
                color: $color1;
                font-weight: bold;
               }
        }


        .navigation {
            position: fixed;
            top: 59px;
            z-index: 45;
            height: 14.5rem;
            background-color: $primary;
            padding-top: 0.7rem;

            .row {
                left: 0%;
                position: relative;
                top: 4rem;

                .box {
                    background-color: #fff;
                    padding: 18px;
                    padding-bottom: -1rem;
                    border: 0px solid rgba(255, 232, 232, 0.1);
                    border-radius: 6px;
                    overflow: hidden;
                    height: 8rem;

                     



                        &_content{
                            position: relative;

                              p{
                                color: #fff;
                                font-size: 23px;
                                font-weight: bold;
                              }

                              h3{
                                color: #fff;
                                font-weight: bold;
                              }
                        }

                        &_icones{
                            position: relative;
                            top: -1.2rem;
                            right: -9%;
                            width: 25rem;   
                            height: 8.5rem;
                         
                            border-top-left-radius: 705px;
                            border-bottom-left-radius: 835px;
                             
                               .icon{
                                 font-size: 37.5px;
                                 padding-top: 3rem;
                                 padding-left: 1.4rem;
                                 color: hsl(0, 0%, 100%);
                                
                               }
                        }

                       

                }

                #box1{
                    background-image: linear-gradient(90deg,#5b9e13,#fff);
                      
                    .box_icones{
                        background-color: #549113;
                      
                         
                    }
                }

                #box2{
                    background-image: linear-gradient(90deg,#FCA616,#fff);

                    .box_icones{
                        background-color: #e69100;
                        position: relative;
                        top: -1.2rem;
                        right: -26%;
                         
                    }
                }

                #box3{
                    background-image: linear-gradient(90deg,#7327a5,#fff);

                    .box_icones{
                        background-color: #6e15aa;
                        position: relative;
                        top: -1.2rem;
                        right: -15%;

                        .icon{
                            font-size: 39.5px;
                            padding-top: 2.74rem;
                            padding-left: 1.7rem;
                            color: hsl(0, 0%, 100%);
                           
                          }
                         
                    }
                }

                #box4{
                    background-image: linear-gradient(90deg,#176e88,#fff);

                    .box_icones{
                        background-color: #1b738b;
                        position: relative;
                        top: -1.2rem;
                        right: -30.7%;

                        .icon{
                            font-size: 39.5px;
                            padding-top: 2.74rem;
                            padding-left: 1.7rem;
                            color: hsl(0, 0%, 100%);
                           
                          }
                         
                    }
                }
            }
        }

        .app-body{
            position: relative;
            top: 13.2rem;
            z-index: 0;

              .row{
              z-index: 5;

              #col-1{

                    .client{
                         padding: 22px;
                         z-index: 10;
                         border-radius: 4px;
                         background-color: #ffffff;
                         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.397);

                         .title{
                        
                            
                             h1{
                              font-size: 25px;
                              font-weight: 800;
                              margin-left: 1rem;
                              color: #3d3d3d;
                             }

                             .border{
                              width: 100%;
                              height: 0.5px;
                              background-color: #272626;
                             }
                         }


                           #bar{
                            margin-top: 2rem;
                            height: 12rem;
                           }
                    }
                  }

                    #col2{

                      .client{
                        padding: 22px;
                        z-index: 10;
                        border-radius: 4px;
                        background-color: #ffffff;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.397);

                        .title{
                       
                           
                            h1{
                             font-size: 25px;
                             font-weight: 800;
                             margin-left: 1rem;
                             color: #3d3d3d;
                            }

                            .border{
                             width: 100%;
                             height: 0.5px;
                             background-color: #272626;
                            }
                        }
                        
                         #circle{
                          height: 350px;
                          width: 350px;
                         }
                    }
              }
        }
    }
}
}